a:link {text-decoration: none; color: #FFFFFF;}
a:visited {text-decoration: none; color: #FFFFFF;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline; background-color: #EFEFEF;}
#inhalt {width: auto;margin-left: auto;margin-right: auto; font-family: "Trebuchet MS", Helvetica, sans-serif;letter-spacing: 4px;}

#logo {text-align: center;font-size: 500%;color: #FFFFFF; font-family: "Trebuchet MS", Helvetica, sans-serif;letter-spacing: 4px;}

#text {margin-top: 350px;text-align: center;font-size: 300%; letter-spacing: 2px; color: #FFFFFF;font-family: "Trebuchet MS", Helvetica, sans-serif;letter-spacing: 4px;}
#text2 {margin-top: 50px;text-align: center;font-size: 100%; letter-spacing: 2px; color: #FFFFFF;font-family: "Trebuchet MS", Helvetica, sans-serif;letter-spacing: 4px;}

#navigation {margin-top: 20px;font-size: 300%; text-align: center;font-family: "Trebuchet MS", Helvetica, sans-serif;letter-spacing: 4px;}
#buttonStart {margin-top: 50px; text-align: center;}

body { background-image:url(bilder/alkohol.jpg); }

button:hover {
  color:white;
  background-color:black;

  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
}

.button {
  width: 500px;
  height: 100px;
  align-items: center;

  text-align: center;
  color: black;
  font-size: 35px;
  font-family: helvetica;


  text-decoration: none;
  align-items: center;

  border: 2px solid black;
  border-radius: 20px;

  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;

  background-color: white;
  padding: 4px 30px;
}
