html {
  margin: 0;
  padding: 0;
  background-color: rgba(177, 195, 162, 0.69);
}

header p {
  background-color: rgba(177, 195, 180);
  text-align: right;
  padding-right: 30px;
}

#logotext {
  padding-top: 50px;
  font-size: 40pt;
  color: white;
}

main {}

#hoehe {
  width: auto;
  height: auto;
}

#gewicht {
  width: auto;
  height: auto;
}

.nav {


}

.container {
  max-width: 100em;
  background-color: rgba(187, 195, 180);
  display: flex;
  justify-content: space-around;
}

.title {
  display: inline-block;
  flex-wrap: nowrap;
  width: 9em;
  margin: 0.5em;
  border: 1.5px solid black;
  background-color: rgb(221, 207, 175);
}

.box {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  background-color: inherit;
  justify-content: space-around;
}

.gtBtn {
  display: flex;
  flex-basis: 150px;
  background-color: rgba(187, 195, 180);
  margin: 5px;
}

.title>img {
  display: flex;
  width: 100%;
  height: 85.5%;
}


#bier{
  background-color: rgb(221, 207, 175);
  float: right;
  border: none;
}

#wein{
  background-color: rgb(221, 207, 175);
  float: right;
  border: none;
}

#likör{
  background-color: rgb(221, 207, 175);
  float: right;
  border: none;
}

#schnaps{
  background-color: rgb(221, 207, 175);
  float: right;
  border: none;
}

#whisky{
  background-color: rgb(221, 207, 175);
  float: right;
  border: none;
}

#wodka{
  background-color: rgb(221, 207, 175);
  float: right;
  border: none;
}

footer {

}
#neuerBtn {
  float: left;
}

#ergebnisBtn {
float: right;

}
